---

import Layout from '../layouts/Layout.astro'

import Heading2 from '../components/Heading2.astro'
import Highlight from '../components/Highlight.astro'
import Ol from '../components/OuterLink.astro'

---

<Layout title="Beat Hagenlochers Digital Garden">
  <div class="text-center">
    <Highlight class="f-text-3xl f-mt-3xl">
      404
    </Highlight>
    <Heading2>
      This page doesn't exist (yet).
    </Heading2>
    <div class="">
      In case you would like to see it exist, please <Ol href="https://bsky.app/profile/beathagenlocher.com" class="italic">bug me about it.</Ol>
    </div>
  </div>
</Layout>
