---
import Layout from '../layouts/Layout.astro'

import Il from '../components/InnerLink.astro'
import Ol from '../components/OuterLink.astro'
import Heading from '../components/Heading.astro'
import ItemCutoff from '../components/ItemCutoff.astro'

import Notes from '../content/notes.astro'
import Knowledge from '../content/knowledge.astro'
import Stream from '../content/stream.astro'
import Essays from '../content/essays.astro'
import Talks from '../content/talks.astro'
import { allTheContent, sortByUpdated, sortByStartDate, getTopics } from '../content/content.ts'

const topics = getTopics(allTheContent)
---

<Layout title="Beat Hagenlochers Digital Garden">
  <div class="f-my-lg f-mx-md">
    <div class="f-pb-lg">
      <p class="text-center">
        <Heading>
          <Il href="me">Beat Hagenlocher</Il><br /> thinking out loud.
        </Heading>
      </p>
      <p class="">
        Welcome to my <Il href="digital-garden">digital garden</Il>, a collection of texts and ideas
        growing slowly over time.
      </p>
      <p class="f-mt-md">
        I write about all things <Il href="?q=Software Engineering">Software Engineering</Il>, <Il
          href="?q=Simplicity">Simplicity</Il
        >, personal stuff—and whatever else I find interesting to share.
      </p>
      <p class="">
        And you may want to take a look at what I've written <Il href="thinking-out-loud"
          ><span class="italic">about this website</span></Il
        >.
      </p>
    </div>
    <div class="md:grid md:grid-cols-12 f-gap-xl">
      <div class="md:col-span-12 lg:col-span-6 max-w-lg mx-auto">
        <div class="f-my-md">
          <h2 class="font-light font-headline f-text-md">
            <Il href="stream" class="font-light">The Stream</Il>
          </h2>
          <p class="italic f-text-xs">
            Tiny pieces of thinking, connections and knowledge – <Ol
              href="https://hapgood.us/2015/10/17/the-garden-and-the-stream-a-technopastoral/"
              >streamified.</Ol
            >
          </p>
        </div>
        <ItemCutoff class="flex flex-col f-mb-2xl" after={10}>
          <Stream />
          <div slot="after-cutoff" class="self-end inline mr-4 z-10">
            <h2 class="font-light font-headline f-text-md">
              <Il href="stream" arrow={'left'} class="font-light">The Stream</Il>
            </h2>
          </div>
        </ItemCutoff>

        <div class="f-mt-md f-mb-2xl">
          <h2 class="font-light font-headline f-text-md">Atomic Essays</h2>
          <p class="italic f-text-xs">Short form writing capturing a single idea</p>
        </div>
        <div class="grid sm:grid-cols-2 f-gap-lg">
          <Essays />
        </div>
      </div>

      <div class="md:col-span-8 lg:col-span-6">
        <div class="f-mt-md f-mb-2xl">
          <h2 class="font-light font-headline f-text-md">Notes</h2>
          <p class="italic f-text-xs">Loose thoughts still getting formed</p>
        </div>
        <div class="grid sm:grid-cols-2">
          <Notes />
        </div>
      </div>

      <div class="md:col-span-12">
        <h2 class="font-light font-headline f-text-md">Talks</h2>
        <div class="">
          <Talks />
        </div>
      </div>
    </div>
  </div>
</Layout>
