---
import Layout from "../layouts/Layout.astro"
import Ol from "../layouts/OuterLink.astro"
---

<Layout title="Beat Hagenlocher">
  <div class="lg:flex lg:justify-between lg:f-gap-sm">
    <header class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:f-py-2xl">
      <div class="f-my-xs">
        <h1 class="f-text-4xl font-light tracking-wide text-zinc-200">
          Beat Hagenlocher
        </h1>
        <h2 class="f-text-lg text-zinc-200">
          Software Architect @<Ol to="https://active-group.de">active group</Ol> | Building <Ol to="https://zelium.io">zelium.io</Ol>
        </h2>
        <p class="f-py-sm">
          I enjoy learning.
        </p>
      </div>
    </header>
  </div>
</Layout>
