---
import Layout from "../layouts/Layout.astro"

import Ol from "../components/OuterLink.astro"
import Section from "../components/Section.astro"
import Par from "../components/Par.astro"
import WideCard from "../components/WideCard.astro"
---

<Layout title="Beat Hagenlocher">
  <div class="f-mx-xs lg:flex lg:justify-between lg:f-gap-md">
    <header class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:f-py-2xl">
      <div class="f-my-xs">
        <h1 class="f-text-4xl font-light tracking-wide text-zinc-200">
          Beat Hagenlocher
        </h1>
        <h2 class="f-text-lg text-zinc-200">
          Software Architect @<Ol to="https://active-group.de">active group</Ol> | Building <Ol to="https://zelium.io">zelium.io</Ol>
        </h2>
        <p class="f-py-sm">
          I enjoy learning.
        </p>
      </div>
      <Section title="About Me">
        <Par>
          Human being on its quest to learn as much as possible and do good in the world.
        </Par>
        <Par>
          Interested in Education, Macroeconomics, History, Organizational Forms, Distributed Systems, Mathematics, Systems Thinking, Category Theory, Learning and Programming Languages.
        </Par>
        <Par>
          Currently learning how to make my life simpler with <Ol to="https://github.com/haglobah/alles">alles</Ol> & <Ol to="https://nixos.org">Nix</Ol> and practicing to type faster.
        </Par>
        <Par>
          When I'm not at the Computer or deliberately learning something, you can find me on walks with nice people, doing sports, or at my <Ol to="https://www.spatzennest-tuebingen.de/">favourite kids camp</Ol> during the summer.
        </Par>
      </Section>
      <div class="flex justify-start f-gap-sm">
        <Ol to="https://github.com/haglobah">
          <div class="i-carbon:logo-github f-w-xl f-h-xl"></div>
        </Ol>
        <Ol to="https://bsky.app/profile/haglobah.bsky.social">
          <svg class="f-w-xl f-h-xl" fill="none" viewBox="0 0 64 57">
            <path fill="currentColor" d="M13.873 3.805C21.21 9.332 29.103 20.537 32 26.55v15.882c0-.338-.13.044-.41.867-1.512 4.456-7.418 21.847-20.923 7.944-7.111-7.32-3.819-14.64 9.125-16.85-7.405 1.264-15.73-.825-18.014-9.015C1.12 23.022 0 8.51 0 6.55 0-3.268 8.579-.182 13.873 3.805ZM50.127 3.805C42.79 9.332 34.897 20.537 32 26.55v15.882c0-.338.13.044.41.867 1.512 4.456 7.418 21.847 20.923 7.944 7.111-7.32 3.819-14.64-9.125-16.85 7.405 1.264 15.73-.825 18.014-9.015C62.88 23.022 64 8.51 64 6.55c0-9.818-8.578-6.732-13.873-2.745Z">
            </path>
          </svg>
        </Ol>
        <Ol to="https://linkedin.com/in/beat-hagenlocher/">
          <div class="i-carbon:logo-linkedin f-w-xl f-h-xl"></div>
        </Ol>
        <Ol to="mailto:bahREMOVETHIS@posteo.de">
          <div class="i-heroicons:envelope-solid f-w-xl f-h-xl"></div>
        </Ol>
      </div>
    </header>
    <div class="f-pt-xl lg:w-1/2 lg:f-py-xl">
      <Section title="Skills & Abilities">
        <ol class="group/list">
          <WideCard>
          </WideCard>
        </ol>
      </Section>
    </div>
  </div>
</Layout>
