---
import { getCollection } from "astro:content";

// Get all notes that aren't drafts
const notes = await getCollection("notes", ({ data }) => !data.draft);

// Sort notes by date
const sortedNotes = notes.sort(
	(a, b) =>
		new Date(b.data.updated).getTime() - new Date(a.data.updated).getTime(),
);
---

{
  sortedNotes.map((note) => (
    <a href={note.id}>{note.data.title}</a>
  ))
}
