---

const { title, org } = Astro.props

import Org from './Org.astro'

---

<>
<span class="absolute f-left--4--6 f-right-0-0 f-top--4--6 f-bottom-0-0 hidden rounded lg:block"></span>
<span>{title}</span>
{org !== "" && (
  <Org org={org}/>
)}
</>
