---
export interface Props {
  topic: string;
}

const { topic, size = "f-text-xs" } = Astro.props;
---
<div class={"mx-0.75 my-1 " + size}>
  <div class={"flex items-center rounded-full bg-sienna-mid/10 px-[0.9em] py-[0.5em] font-medium leading-5 text-sienna-mid"}>
    {topic}
  </div>
</div>
