---
export interface Props {
  topics: string;
}

const { topics, size } = Astro.props;

import Badge from './Badge.astro';
---
<div class="flex flex-wrap">
  {topics.map(topic => <Badge topic={topic} size={size} />)}
</div>
