---
export interface Props {
  topic: string;
}

const { topic, size = "f-text-xs" } = Astro.props;
---
<div class={"mr-1.5 mb-2 " + size}>
  <div class={"flex items-center rounded-full bg-[#E28E78]/10 px-[0.9em] py-[0.5em] font-medium leading-5 text-[#E28E78] "}>
    {topic}
  </div>
</div>
