---
---
<div class="flex items-center f-my-lg f-text-md italic">
  <span class="inline-block -ml-3 i-heroicons:chevron-right f-h-xl f-w-xl">
  </span>
  <div class="f-pl-lg">
    <slot />
  </div>
</div>
