---
export interface Props {
  type?: 'info' | 'warning' | 'error' | 'success';
}

const { type = 'info' } = Astro.props;

const typeStyles = {
  info: 'border-blue-500 bg-zinc-700',
  warning: 'border-yellow-500 bg-zinc-700',
  error: 'border-red-500 bg-zinc-700',
  success: 'border-green-500 bg-zinc-700 '
};
---

<div class={`m-4 px-4 py-1 border-l-4 rounded-lg ${typeStyles[type]}`}>
  <slot />
</div>
