---
import CommentButton from './CommentButton.astro'
---

<span class="commentable-par inline group relative">
  <p class="f-my-lg max-w-[65ch] rounded transition-background-color duration-200 ease-in-out">
    <slot />
  </p>
  <CommentButton />
</span>

<style>
  .commentable-par.comment-active > p {
    background-color: rgba(100, 108, 255, 0.08);
  }
</style>
