---
const { date } = Astro.props
---

<span class="font-mono text-cornflower-light">
  <time datetime={date.toISOString()}>
    {
      date.toLocaleDateString('en-US', {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
      })
    }
  </time>
</span>
