---

---
<div class="f-mt-3xl border-t border-zinc-500">
  <div class="mt-6 flex flex-row items-start justify-around">
  <span class="i-heroicons:arrow-down-20-solid shrink-0 inline-block relative mx-1 size-7 text-cornflower"></span>
  <div class="flex flex-col items-center md:border-l md:border-r border-cornflower f-px-xl text-center font-extralight italic text-zinc-100">
    <span class="f-text-lg mb-2">Draft in Progress</span>
    <p class="f-text-xs my-1">Writing in here is haphazardous, disjointed and sketchy.</p>
    <p class="f-text-xs my-1">It's probably a good idea to come back later.</span>
  </div>
  <span class="i-heroicons:arrow-down-20-solid shrink-0 inline-block relative mx-1 size-7 text-cornflower"></span>
  </div>
</div>

<div class="opacity-60">
  <slot />
</div>

<div class="f-mt-3xl border-b border-zinc-500">
  <div class="mb-6 flex flex-row items-start justify-around">
  <span class="i-heroicons:arrow-up-20-solid shrink-0 inline-block relative mx-1 size-7 text-cornflower"></span>
  <div class="flex flex-col items-center f-px-xl text-center font-extralight italic text-zinc-100">
    <p class="f-text-xs my-1 invisible">Writing in here is haphazardous, disjointed and sketchy.</p>
  </div>
  <span class="i-heroicons:arrow-up-20-solid shrink-0 inline-block relative mx-1 size-7 text-cornflower"></span>
  </div>
</div>
