---

---
<div class="f-mt-3xl border-t border-zinc-500">
  <div class="mt-4 flex flex-row items-center justify-around ">
  <span class="i-heroicons:arrow-down-20-solid inline-block relative mx-1 size-7 text-cornflower"></span>
  <span class="font-extralight italic text-zinc-100 f-text-lg">Draft in Progress</span>
  <span class="i-heroicons:arrow-down-20-solid inline-block relative mx-1 size-7 text-cornflower"></span>
  </div>
</div>
<div class="opacity-60">
  <slot />
</div>
<div class="f-mb-3xl border-b border-zinc-500">
  <div class="mb-4 flex flex-row items-center justify-around ">
  <span class="i-heroicons:arrow-up-20-solid inline-block relative mx-1 size-7 text-cornflower"></span>
  <span class="font-extralight italic text-zinc-100 invisible f-text-lg">Draft in Progress</span>
  <span class="i-heroicons:arrow-up-20-solid inline-block relative mx-1 size-7 text-cornflower"></span>
  </div>
</div>
