---

import { Debug } from 'astro:components'
import { parseHTML } from 'linkedom'
import { slug } from 'github-slugger'

const headingHtml = await Astro.slots.render('default')
const { document } = parseHTML(headingHtml)
const theID = slug(document.toString())
const theLink = `#${theID}`

---

<h2 id={theID} class="font-mono font-light f-text-lg tracking-[0.05em] f-mt-lg f-mb-md group/heading2 relative uppercase">
  <a href={theLink} class="absolute top--1 left--8 px-1 f-text-xl font-normal opacity-0 transition-opacity group-hover/heading2:opacity-100 duration-300 text-cornflower">ยง</a>
  <Fragment set:html={document}/>
</h2>
