
---

import { Debug } from 'astro:components'
import { parseHTML } from 'linkedom'
import { slug } from 'github-slugger'

const headingHtml = await Astro.slots.render('default')
const { document } = parseHTML(headingHtml)
const theID = slug(document.toString())
const theLink = `#${theID}`

---

<h2 id={theID} class="font-mono f-text-xl f-mt-xl f-mb-md leading-tighter tracking-tighter group/heading2 relative">
  <a href={theLink} class="absolute left--8 px-1 f-text-xl font-normal opacity-0 transition-opacity group-hover/heading2:opacity-100 duration-300 text-cornflower">ยง</a>
  <Fragment set:html={document}/>
</h2>
