---
---
<li class="[&_input]:i-carbon:checkbox [&_input]:relative [&_input]:top-[5px] [&_input]:right-1 [&_input]:size-5">
  <slot />
</li>

<style>
  li:has(> input) {
    @apply list-none relative
  }
</style>
