---
const { classStyle } = Astro.props
---

<a href="/" class="f-px-xs">
  <svg
    viewBox="0 0 100 40"
    xmlns="http://www.w3.org/2000/svg"
    class={classStyle}
  >
    <text
      x="15"
      y="20"
      font-family="Fira Sans"
      font-size="35"
      font-weight="bold"
      fill="#DC755C"
      dominant-baseline="middle"><</text
    >
    <text
      x="35"
      y="20"
      font-family="Fira Sans"
      font-size="35"
      font-weight="bold"
      fill="currentColor"
      dominant-baseline="middle">B</text
    >
    <text
      x="55"
      y="20"
      font-family="Fira Sans"
      font-size="35"
      font-weight="bold"
      fill="#6E98E8"
      dominant-baseline="middle">/</text
    >
    <text
      x="71"
      y="20"
      font-family="Fira Sans"
      font-size="35"
      font-weight="bold"
      fill="#DC755C"
      dominant-baseline="middle">></text
    >
  </svg>
</a>
