---
interface Props {
  title: string
  slug: string
  collection: string
  date: Date
}

const { title, slug, collection, date } = Astro.props

import Date from './Date.astro'
---

<a
  href={`/${slug}`}
  class="group flex items-center gap-3 py-2 px-3 rounded-lg border border-cornflower/40 hover:bg-cornflower/20 transition-all duration-300 ease-in-out"
>
  <span class="text-emerald-400 f-text-xs" title="New">+</span>
  <span
    class="font-medium text-zinc-200 f-text-xs group-hover:text-sienna-light transition duration-300 ease-in-out"
    >{title}</span
  ><span
    class="i-heroicons:arrow-right-20-solid relative left--2 text-sienna group-hover:text-sienna-light transition-all duration-300 ease-in-out -rotate-45 inline-block group-hover:rotate-0 size-[1em]"
  ></span>
  <span class="text-zinc-500 f-text-2xs ml-auto">
    <Date date={date} />
  </span>
</a>
