---
import Ol from './OuterLink.astro'

const { author, ...props } = Astro.props
---

<span class="reference-link block f-my-md">
  <Ol {...props}>
    <slot />
  </Ol>
  {author && <span class="block text-zinc-400">{author}</span>}
</span>

<style>
  .reference-link :global(p) {
    margin: 0;
    max-width: none;
    display: inline;
  }
</style>
