---
---

<div class="f-mt-4xl border-t-1 border-zinc-600 border-solid">
  <h2 class="f-pt-lg f-text-xl leading-tighter font-headline font-light">
    References / Further Reading
  </h2>
  <div class="f-ml-2xl">
    <slot />
  </div>
</div>
