---
import SectionTitle from './SectionTitle.astro'

import { slug } from 'github-slugger'

const { title } = Astro.props

const theslug = slug(title)
---

<section id={theslug} class="group/section f-scroll-mt-xl" aria-label={title}>
  <div class="sticky top-0 f-my-sm z-20 w-full backdrop-blur">
    <SectionTitle>
      {title}
    </SectionTitle>
  </div>
  <div class="f-my-xl">
    <slot />
  </div>
</section>
