---

---

<div class="f-py-md border-t-2 relative border-solid border-sienna lg:border-transparent lg:transition-all lg:duration-500 lg:ease-in-out lg:group-hover/section:border-sienna">
  <h2 class="f-text-md absolute font-medium text-sienna uppercase tracking-[2px] lg:f-text-sm lg:text-zinc-200 lg:group-hover/section:f-text-md lg:group-hover/section:text-sienna lg:transition-all lg:duration-500 lg:ease-in-out">
    <slot/>
  </h2>
</div>
