---
import SectionTitle from "./SectionTitle.astro"

import GitHubSlugger from 'github-slugger'

const { title } = Astro.props

const slugger = new GitHubSlugger()
const slug = slugger.slug(title)

---
<section id={ slug }
         class="group/section f-scroll-mt-xl"
         aria-label={ title }>
  <div class="sticky top-0 f-my-sm z-20 w-full backdrop-blur">
    <SectionTitle>
      { title }
    </SectionTitle>
  </div>
  <div class="f-my-xl">
    <slot/>
  </div>
</section>
