---

const { to } = Astro.props

---
<a href={to} target="_blank" rel="noreferrer"
   class="cursor-pointer text-cornflower hover:text-cornflower-light transition-all duration-300 ease-in-out"
><slot/></a>
