---
import StageIcon from '../components/StageIcon.astro'
import ReadingProgressBar from '../components/ReadingProgressBar.astro'

const { frontmatter, headings } = Astro.props

---
<ReadingProgressBar />
<div class="post f-mb-2xl f-px-sm mx-auto max-w-[65ch]">
  <div class="f-mb-2xl flex flex-col items-center gap-4">
    <StageIcon stage={frontmatter.growthStage as
                     | "seedling"
                     | "budding"
                     | "evergreen"}/>
    <h1 class="font-mono f-text-2xl f-px-xs leading-[1.3] tracking-tighter f-pb-sm border-b-3 border-zinc-400">
      { frontmatter.title }
    </h1>
  </div>
  <div class="mx-auto">
    <slot/>
  </div>
</div>
