---
import StageIcon from '../components/StageIcon.astro'
import ReadingProgressBar from '../components/ReadingProgressBar.astro'
import Heading from '../components/Heading.astro'
import Ago from '../components/Ago.astro'
import Il from '../components/InnerLink.astro'

const { frontmatter, headings } = Astro.props

const unpublished = frontmatter.publish === false
const unpublishedStyle = unpublished ? 'opacity-60' : ''
---

<ReadingProgressBar />
<div class="post f-mb-2xl f-px-sm mx-auto max-w-[65ch]">
  <div class="f-mb-2xl flex flex-col items-center gap-4">
    <StageIcon stage={frontmatter.growthStage as 'seedling' | 'budding' | 'evergreen'} />
    {
      unpublished && (
        <div class="italic text-center">
          This Note isn't published yet. <br />
          It's at most half done, and it's probably confusing to read. <br />
          It might be a good idea to come back later.
          <br />
          Alternatively, you can <Il href="contacting-me">prod me to write it</Il>.
        </div>
      )
    }
    <div class:list={['f-pb-sm border-b-3 border-zinc-400', unpublishedStyle]}>
      <h1 class="f-text-2xl font-light font-headline">{frontmatter.title}</h1>
      <div class="max-w-md my-2 italic opacity-90">
        {frontmatter.description !== '' && frontmatter.description}
      </div>
      <div class="mt-4 flex justify-around flex-wrap-reverse gap-2">
        <span class="flex justify-center gap-3">
          Started <Ago when={frontmatter.startDate} format="" />
        </span>
        <span class="flex justify-center gap-3">
          Last edited<Ago when={frontmatter.updated} format="" />
        </span>
      </div>
    </div>
  </div>
  <div class:list={['mx-auto break-words', unpublishedStyle]}>
    <slot />
  </div>
</div>
