---
import StageIcon from '../components/StageIcon.astro'

const { frontmatter, headings } = Astro.props

---
<div class="f-my-2xl f-px-sm mx-auto max-w-4xl">
  <div class="f-my-2xl">
    <h1 class="f-text-4xl">
      <StageIcon stage={frontmatter.growthStage as
        | "budding"
        | "evergreen"
        | "seedling"}/>
        { frontmatter.title }
    </h1>
  </div>
  <div class="">
    <slot/>
  </div>
</div>
